{%  extends "regular.html" %}
{% block body %}
  <h1>Frequently asked questions</h1>
<!--
  <h2>
    Can I use ShareX to upload?
  </h2>
  <p>Sure thing! <a href="/disgg.json">Just press here.</a></p>
  <p>Import that as a custom uploader and fire away.</p>
--> <!--I see you're reading me. Feel free to use ShareX, we just don't provide support for it.-->
  <h2>
    Who runs this thing
  </h2>
  <p>A guy called dotJS (<a href="http://dotjs.party">Website</a>).</p>

  <h2>
    What powers this site?
  </h2>
  <p>Purely Python powered and only depends on Flask. The database is SQLite, works alright on SSD.</p>

  <h2>
    Is my data safe?
  </h2>
  <p>We can't give any guarantee on availability, but we try our best.</p>
  <p>If you're asking in regards to privacy, check the <a href="/privacy">privacy policy</a> for details.</p>

  <h2>
    Where can I donate?
  </h2>
  <p>I've kept this as a free service for both technical and other reasons, but servers and domains do cost.</p>
  <p>If you'd like to donate and get some other cool stuff (including access to my dis.gg link shortener!), <a href="https://dotjs.party/donate">donate here</a>.</p>

{% endblock %}
