{% extends "shell.html" %}
{% block body %}
  <h1 class="title">
    dis.gg files
  </h1><br>
  <form action="" id="form" name="fileForm" method="post" enctype="multipart/form-data" class="uploadForm">
    <div id="uploadButton" class="uploadButton">
      <p id="uploadText">
        Choose
      </p>
      
      <input id="file" type="file" name="file">
    </div>
    <input type="hidden" name="source" value="web">
  </form><br>
  <!--<p class="note">This storage is not permanent, check the about page for details</p>-->
  <!--I see you looking at me, don't worry, I'm now permanent.-->
  <ul class="links">
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/terms">Terms</a>
    </li>
    <li>
      <a href="/privacy">Privacy</a>
    </li>
    <li>
      <a href="/faq">FAQ</a>
    </li>
    <li>
      <a href="/dmca">Abuse</a>
    </li>
  </ul>
  <script src="/static/dropzone.js"></script>
  <script>
    document.getElementById("file").onchange = function() {
      document.getElementById("uploadText").innerHTML = "Uploading...";
      var button = document.getElementById("uploadButton");
      button.className = button.className + " uploading";
      document.getElementById("form").submit();
    };
    var dropper = new Dropzone(".uploadForm", { url: document.location.href, maxFiles: 1 });
    dropper.handleFiles = function(files) {
      var _this5 = this;
      var files_array = [];
      for (var i = 0; i < files.length; i++) {
        files_array.push(files[i]);
      }
      return files_array.map(function(file) {
        return _this5.addFile(file);
      });
    };
    dropper.on("success", function(file) {
    alert(file)
    });
  </script>
{% endblock %}
